.weather-widget__header {
  position: relative;
  height: 2rem;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}

.weather-widget__header--icon {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 1rem;
}

.weather-widget__header--info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
}

.weather-widget__header--button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  border: 1px solid #284b63;
  padding: 0.125rem 0.5rem;
  background: transparent;
  color: #284b63;
}
