.current-weather {
  display: grid;
  grid-template-columns: 4fr 1fr;
  border-bottom: 1px solid #b4b8ab;
  padding-bottom: 0.5rem;
}

.current-weather--text {
  text-align: left;
  padding-left: 1rem;
}

.current-weather--text p:first-child {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.current-weather__icon--wrapper img {
  width: 50px;
}