.weather-widget {
  border:  1px solid black;
  border-radius: 0.5rem;
  width:  100%;
  max-width:  400px;
  margin: 20px auto 0;
}

.weather-widget__header {
  /* border: 1px solid red; */
  position: relative;
  height: 2rem;
  font-size: 0.85rem;
}

.weather-widget__header--icon {
  position: absolute;
  transform: translateY(-50%);
  /* top: -25%; */
  top: 50%;
  left: 1rem;
}

.weather-widget__header--info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
}

.weather-widget__header--button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}

.current-weather {
  display: grid;
  grid-template-columns: 4fr 1fr;
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
}

.current-weather--text {
  text-align: left;
  padding-left: 1rem;
}

.current-weather--text p:first-child {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.forecast {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.forecast--day--name, .forecast--day--hi-temp, .forecast--day--lo-temp {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.forecast--day--icon {
  width: 2rem;
  height: 2rem;
  border: 1px solid salmon;
  margin-bottom: 0.5rem;
}

